 /* Basic styles for the background fade */
 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with low opacity */
    z-index: 5;
    display: none; /* Hidden by default */
}

/* Styling for the login and signup modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 9;
    width: 400px;
    height: 350px;
    border-radius: 10px;
   display: none;
}

.modal h2 {
    text-align: center;
}

.modal input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal button {
    width: 40%;
    padding: 10px;
    background-color: #0057a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.modalclass{
    display: flex; /* Hidden by default */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.modalclass1{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

#loginbtn1, #signupbtn1{
    width: 40%;
    padding: 10px;
    background-color: #0057a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.modal #loginbtn1:hover, #signupbtn1:hover {
    background-color: #003366;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

